.container {
    display:flex;
    width:1700px;
    height:1250px;
    margin:300px auto;
    border:2px solid rgb(103, 103, 103);
    border-radius:8px;
}



.right-side {
    flex:1;
    
}

img {
    height:1250px;
    object-fit:contain;
}

ul {
    list-style-type:none;
    margin-top:150px;
}

input {
    width:60%;
    height:40px;
}

li {
    margin-top:50px;
}

button {
    width:80%;
    
}